<%= nested_form_for @cec_form, :html => { :class => 'form-horizontal' } do |f| %>

   <table class="form_table">
      <tr>
         <td>1.</td>
         <td>
            <div class="control-group">
                <%= f.label :cesko_summary_report_input, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.radio_button :cesko_summary_report_input, true %>
               <%= f.label :cesko_summary_report_input_true, t("form.radio_buttons.do_yes"), :class => 'radio_label' %>
               <%= f.radio_button :cesko_summary_report_input, false %>
               <%= f.label :cesko_summary_report_input_false, t("form.radio_buttons.do_no"), :class => 'radio_label' %>
             </div>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div class="control-group">
                <%= f.label :if_not_precinct_name_and_num, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.text_area :if_not_precinct_name_and_num, :class => 'text_area span6', :rows => "5" %>
             </div>
         </td>
      </tr>
      <tr>
         <td>2.</td>
         <td>
            <div class="control-group">
                <%= f.label :cesko_election_summary_after_one_day, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.radio_button :cesko_election_summary_after_one_day, true %>
               <%= f.label :cesko_election_summary_after_one_day_true, t("form.radio_buttons.do_yes"), :class => 'radio_label' %>
               <%= f.radio_button :cesko_election_summary_after_one_day, false %>
               <%= f.label :cesko_election_summary_after_one_day_false, t("form.radio_buttons.do_no"), :class => 'radio_label' %>
             </div>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div class="control-group">
                <%= f.label :if_not_after_one_day_precinct_name_num, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.text_area :if_not_after_one_day_precinct_name_num, :class => 'text_area span6', :rows => "5" %>
             </div>
         </td>
      </tr>
      <tr>
         <td>3.</td>
         <td>
             <div class="control-group">
                <%= f.label :cesko_report_web_translition, :class => 'control-label' %>
             </div>
         </td>
         <td>
            <div class="controls">
               <%= f.radio_button :cesko_report_web_translition, true %>
               <%= f.label :cesko_report_web_translition_true, t("form.radio_buttons.do_yes"), :class => 'radio_label' %>
               <%= f.radio_button :cesko_report_web_translition, false %>
               <%= f.label :cesko_report_web_translition_false, t("form.radio_buttons.do_no"), :class => 'radio_label' %>
             </div>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div class="control-group">
                <%= f.label :if_not_the_reason, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.text_area :if_not_the_reason, :class => 'text_area span6', :rows => "5" %>
             </div>
         </td>
      </tr>
      <tr>
         <td>4.</td>
         <td>
            <div class="control-group">
                <%= f.label :cesko_summary_process_transparently, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.radio_button :cesko_summary_process_transparently, true %>
               <%= f.label :cesko_summary_process_transparently_true, t("form.radio_buttons.do_yes"), :class => 'radio_label' %>
               <%= f.radio_button :cesko_summary_process_transparently, false %>
               <%= f.label :cesko_summary_process_transparently_false, t("form.radio_buttons.do_no"), :class => 'radio_label' %>
             </div>
         </td>
      </tr>
      <tr>
         <td></td>
         <td>
            <div class="control-group">
                <%= f.label :description_how_transparent, :class => 'control-label' %>
            </div>
         </td>
         <td>
            <div class="controls">
               <%= f.text_area :description_how_transparent, :class => 'text_area span6', :rows => "5" %>
             </div>
         </td>
      </tr>
   </table>

  <%= f.fields_for :cec_form_children %>
  <p><%= f.link_to_add "Add", :cec_form_children, :class => 'btn btn-primary' %></p>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                cec_forms_path, :class => 'btn' %>
  </div>
<% end %>
