<%= t('form.radio_buttons.do_yes') %><%- model_class = CecForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="show_page clear">
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:cesko_summary_report_input) %>
		</div>
	  <div class="content span6">
			<% if @cec_form.cesko_summary_report_input %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@cec_form.cesko_summary_report_input.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:if_not_precinct_name_and_num) %>
		</div>
	  <div class="content span6">
			<%= @cec_form.if_not_precinct_name_and_num %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:cesko_election_summary_after_one_day) %>
		</div>
	  <div class="content span6">
			<% if @cec_form.cesko_election_summary_after_one_day %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@cec_form.cesko_election_summary_after_one_day.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:if_not_after_one_day_precinct_name_num) %>
		</div>
	  <div class="content span6">
			<%= @cec_form.if_not_after_one_day_precinct_name_num %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:cesko_report_web_translition) %>
		</div>
	  <div class="content span6">
			<% if @cec_form.cesko_report_web_translition %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@cec_form.cesko_report_web_translition.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:if_not_the_reason) %>
		</div>
	  <div class="content span6">
			<%= @cec_form.if_not_the_reason %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:cesko_summary_process_transparently) %>
		</div>
	  <div class="content span6">
			<% if @cec_form.cesko_summary_process_transparently %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@cec_form.cesko_summary_process_transparently.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:description_how_transparent) %>
		</div>
	  <div class="content span6">
			<%= @cec_form.description_how_transparent %>
		</div>
	</div>

  <%
   i=0
   j=0
   @cec_form.cec_form_children.each do |cec_form_child|
      if cec_form_child.was_complaint_satisfied
         i=i+1
      end
      if cec_form_child.was_desision_grounded
         j=j+1
      end
   end
  %>

	<div class="row">
	  <div class="header span3">
			რამდენი საჩივარი დაკმაყოფილდა?
		</div>
	  <div class="content span6">
			<%= i.to_s+'/'+@cec_form.cec_form_children.length.to_s %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			იყო თუ არა გადაწყვეტილება დასაბუთებული?
		</div>
	  <div class="content span6">
			<%= j.to_s+'/'+@cec_form.cec_form_children.length.to_s %>
		</div>
	</div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              cec_forms_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_cec_form_path(@cec_form), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              cec_form_path(@cec_form),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
