<%= form_for @complaint, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :observer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observer_address, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_district_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :election_district_name, @election_district_names.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_precinct_number, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :election_precinct_number, @election_precinct_numbers.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category, @categories.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_type, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :violation_type, @violation_types.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :violation_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :witness, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :witness, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violator_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :violator_info, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :other_info, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>



  <div class="control-group">
    <%= f.label :status, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status, @statuses.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_author_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complaint_author_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_author_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complaint_author_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :court_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :court_name, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_writing_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :complaint_writing_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :request_in_complaint, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :request_in_complaint, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :response_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :response_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_result, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :complaint_result, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :additional_comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :additional_comment, :class => 'text_area span6', :rows => "5" %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                complaints_path, :class => 'btn' %>
  </div>
<% end %>
