<%= form_for @complaint, :html => { :class => 'form-horizontal', :enctype => "multipart/form-data" } do |f| %>
  <div class="control-group">
    <%= f.label :observer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observer_address, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_district_name_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :election_district_name_id, [[]] + ElectionDistrictName.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_precinct_number_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :election_precinct_number_id, [[]] + ElectionPrecinctNumber.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, [[]] + Category.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :violation_type_id, [[]] + ViolationType.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :violation_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :witness, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :witness, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violator_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :violator_info, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :other_info, :class => 'text_area', :rows => 3 %>
    </div>
  </div>


  <div class="file_attachments">
    <h3>File Attachments</h3>

    <% files = @complaint.complaint_files.observers %>
    <% files_exist = (!files.nil? && !files.empty?) %>

    <div class="file_files">
      <% if files_exist %>
        <% files.each do |file| %>
          <div class="file_field control-group">
            <div class="controls">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
              <a href="javascript:;" class="file_attachment_remove perm" data-id="<%= file.id %>">Remove File</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="file_fields">
      <% uniqi = files_exist ? (@complaint.complaint_files.count + 1) : 0;  %>

      <div class="file_field control-group">
        <div class="controls">
          <input type="hidden" value="observer" name="complaint[complaint_files_attributes][new_<%= uniqi %>][attachment_type]" />
          <input type="file" name="complaint[complaint_files_attributes][new_<%= uniqi %>][file]"
                 class="text_field" data-uniqi="<%= uniqi %>" />
          <a href="javascript:;" class="file_attachment_remove">Remove File</a>
        </div>
      </div>
    </div>

    <div class="file_add_button control-group">
      <div class="controls">
        <a href="javascript:;" data-type="observer" class="file_attachment_add">Add File</a>
      </div>
    </div>
  </div>


  <div class="control-group">
    <%= f.label :level, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :level, [[], ['PEC', 'pec'], ['DEC', 'dec'], ['CEC', 'cec'], ['Court', 'court']] %>
    </div>
  </div>


  <% attr = (!@complaint.nil? && !@complaint.level.nil? && @complaint.level.length > 0) ? '' : 'style="display: none;"'.html_safe %>
  <div class="after_level_select" <%= attr %>>


  <div class="control-group">
    <%= f.label :status_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :status_id, [[]] + Status.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_author_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complaint_author_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_author_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :complaint_author_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="hidden court control-group">
    <%= f.label :court_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :court_name, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_writing_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :complaint_writing_time, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :request_in_complaint, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :request_in_complaint, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :response_date, :class => 'control-label' %>
    <div class="controls">
      <%= f.datetime_select :response_date, :class => 'datetime_select' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :complaint_result, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :complaint_result, :class => 'text_area', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :additional_comment, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :additional_comment, :class => 'text_area', :rows => 3 %>
    </div>
  </div>


  <div class="file_attachments">
    <h3>File Attachments</h3>

    <% files = @complaint.complaint_files.others %>
    <% files_exist = (!files.nil? && !files.empty?) %>

    <div class="file_files">
      <% if files_exist %>
        <% files.each do |file| %>
          <div class="file_field control-group">
            <div class="controls">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
              <a href="javascript:;" class="file_attachment_remove perm" data-id="<%= file.id %>">Remove File</a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="file_fields">
      <% uniqi = uniqi + 1;  %>

      <div class="file_field control-group">
        <div class="controls">
          <input type="hidden" value="other" name="complaint[complaint_files_attributes][new_<%= uniqi %>][attachment_type]" />
          <input type="file" name="complaint[complaint_files_attributes][new_<%= uniqi %>][file]"
                 class="text_field" data-uniqi="<%= uniqi %>" />
          <a href="javascript:;" class="file_attachment_remove">Remove File</a>
        </div>
      </div>
    </div>

    <div class="file_add_button control-group">
      <div class="controls">
        <a href="javascript:;" data-type="other" class="file_attachment_add">Add File</a>
      </div>
    </div>
  </div>



  </div>


  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                complaints_path, :class => 'btn' %>
  </div>

<% end %>
