<%= form_for @complaint, :html => { :class => 'form-horizontal', :enctype => "multipart/form-data" } do |f| %>

	<h3><%= t('form.headers.general_information') %></h3>
  <div class="control-group">
    <%= f.label :observer_name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_address, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :observer_address, :class => 'text_area span6', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :observer_phone, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :observer_phone, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_district_name, :class => 'control-label' %>
    <div class="controls">
      <%#= f.select :election_district_name_id, [[]] + ElectionDistrictName.all.collect { |d| [d[:title], d[:id]] } %>
      <%= f.text_field :election_district_name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :election_precinct_number, :class => 'control-label' %>
    <div class="controls">
      <%#= f.select :election_precinct_number_id, [[]] + ElectionPrecinctNumber.all.collect { |d| [d[:title], d[:id]] } %>
      <%= f.text_field :election_precinct_number, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :category_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :category_id, [[]] + Category.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_type_id, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :violation_type_id, [[]] + ViolationType.all.collect { |d| [d[:title], d[:id]] } %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violation_time, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :violation_time %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :witness, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :witness, :class => 'text_area span6', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :violator_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :violator_info, :class => 'text_area span6', :rows => 3 %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :other_info, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_area :other_info, :class => 'text_area span6', :rows => 3 %>
    </div>
  </div>

  <div class="file_attachments">
    <h4><%= t('form.headers.file_attachments') %></h4>

    <% files = @complaint.complaint_files.general %>
    <%# abort files.inspect %>
    <% files_exist = (!files.nil? && !files.empty?) %>

    <div class="file_files">
      <% if files_exist %>
        <% files.each do |file| %>
          <div class="file_field control-group">
            <div class="controls span5">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank', :class => 'left' %>
              <a href="javascript:;" class="file_attachment_remove perm right" data-id="<%= file.id %>"><%= t('app.buttons.remove_file') %></a>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>

    <div class="file_fields">
      <% @uniqi = files_exist ? (@complaint.complaint_files.count + 1) : 0;  %>

      <div class="file_field control-group">
        <div class="controls span5">
          <input type="hidden" value="general" name="complaint[complaint_files_attributes][new_<%= @uniqi %>][attachment_type]" />
          <input type="file" name="complaint[complaint_files_attributes][new_<%= @uniqi %>][file]"
                 class="text_field left" data-uniqi="<%= @uniqi %>" />
          <a href="javascript:;" class="file_attachment_remove right"><%= t('app.buttons.remove_file') %></a>
        </div>

      </div>
    </div>

    <div class="file_add_button control-group">
      <div class="controls">
        <a href="javascript:;" data-type="general" class="file_attachment_add"><%= t('app.buttons.add_file') %></a>
      </div>
    </div>
  </div>

	<hr />

	<h3><%= t('form.headers.complaint') %></h3>
	<% if @complaint.complaint_additional_infos.length == 1 && @complaint.complaint_additional_infos.first.level.nil? %>
		<%= render :partial => "complaints/complaint_additional_info_fields",
				:locals => {:type => 'new', :form => f, :record => @complaint.complaint_additional_infos.first} %>
	<% else %>
		<% @complaint.complaint_additional_infos.each do |additional_info| %>
			<%= render :partial => "complaints/complaint_additional_info_fields",
					:locals => {:type => 'edit', :form => f, :record => additional_info} %>
			<hr />
		<% end %>
		<% if @complaint.available_levels && !@complaint.available_levels.empty? %>
			<%= render :partial => "complaints/complaint_additional_info_fields",
					:locals => {:type => 'next_level', :form => f, :record => @complaint.complaint_additional_infos.build} %>
		<% end %>
	<% end %>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('app.buttons.cancel', :default => t("helpers.links.cancel")),
                complaints_path, :class => 'btn' %>
  </div>

<% end %>
