<%- model_class = Complaint -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>დონე</th>
      <th>სტატუსი</th>
      <th><%= t('activerecord.attributes.complaint_additional_info.complaint_writing_time') %></th>
      <th><%= t('activerecord.attributes.complaint.violation_time') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td>
					<% link_text = complaint.original_level.to_s.upcase + ' '
            #link_text << t('activerecord.attributes.complaint.violation_time') + ': '
            #link_text << complaint.violation_time.to_s + ' '
             if complaint.additional.latest
               latest = complaint.additional.latest
            #  link_text << t('activerecord.attributes.complaint_additional_info.complaint_writing_time') + ': '
            #  link_text << latest.complaint_writing_time.to_s + ' '
             end
          %>
					<%= link_to link_text, complaint_path(complaint) %>
				</td>
				<td>
				  <%= complaint.additional.latest.status.title if complaint.additional.latest && complaint.additional.latest.status %>
				</td>
				<td>
				
				</td>
				<td>
				
				</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_complaint_path(complaint), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      complaint_path(complaint),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_complaint_path,
            :class => 'btn btn-primary' %>
