<%- model_class = Complaint -%>
<div class="page-header">

  <%################## THIS DOESN'T WORK FOR GEORGIAN  #############################%>
  <!--<h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>-->
  <%################################################################################%>

  <%### it's georgian for complaints, plural ####%>
  <h1>საჩივრები</h1>


</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.complaint.level') %></th>
      <th><%= t('activerecord.attributes.complaint_additional_info.status') %></th>
      <th><%= t('activerecord.attributes.complaint_additional_info.complaint_writing_time') %></th>
      <th><%= t('activerecord.attributes.complaint.violation_time') %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td>
          <% link_text = complaint.additional.latest.level.to_s.length > 0 ? complaint.additional.latest.level.to_s.upcase : t('app.common.empty') %>
					<%= link_to link_text, complaint_path(complaint) %>
				</td>
				<td>
				  <%= complaint.additional.latest.status.title if complaint.additional.latest && complaint.additional.latest.status %>
				</td>
				<td>
				  <%= l complaint.additional.latest.complaint_writing_time, :format => :long if complaint.additional.latest && complaint.additional.latest.complaint_writing_time %>
				</td>
				<td>
				  <%= l complaint.violation_time, :format => :long if complaint.violation_time %>
				</td>
        <td>
          <%= link_to t('app.buttons.edit', :default => t("helpers.links.edit")),
                      edit_complaint_path(complaint), :class => 'btn btn-mini' %>
          <%= link_to t('app.buttons.destroy', :default => t("helpers.links.destroy")),
                      complaint_path(complaint),
                      :method => :delete,
                      :data => { :confirm => t('app.buttons.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('app.buttons.new', :default => t("helpers.links.new")),
            new_complaint_path,
            :class => 'btn btn-primary' %>
