<%- model_class = Complaint -%>
<div class="page-header">
  <% status = (@complaint.additional.latest.nil? || @complaint.additional.latest.status.nil?) ? '' : @complaint.additional.latest.status.title %>
  <h1><%= @complaint.level.to_s.upcase + ' ' + status %></h1>
</div>

<h3>ძირითადი ინფორმაცია</h3>

<div class="complaint clear">
  <div class="span5" style="text-align: right;">
    <div class="">
      <%= t('activerecord.attributes.complaint.observer_name') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.observer_address') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.observer_phone') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.election_district_name') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.election_precinct_number') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.category') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.violation_type') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.violation_time') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.witness') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.violator_info') %>
    </div>
    <div class="">
      <%= t('activerecord.attributes.complaint.other_info') %>
    </div>
    <div class="">
      მიმაგრებული ფაილები
    </div>
  </div>
  <div class="span4">
    <div class="">
      <%= @complaint.observer_name %>
    </div>
    <div class="">
      <%= @complaint.observer_address %>
    </div>
    <div class="">
      <%= @complaint.observer_phone %>
    </div>
    <div class="">
      <%= @complaint.district_name %>
    </div>
    <div class="">
      <%= @complaint.election_precinct_number %>
    </div>
    <div class="">
      <%= @complaint.category.nil? ? '' : @complaint.category.title %>
    </div>
    <div class="">
      <%= @complaint.violation_type.nil? ? '' : @complaint.violation_type.title %>
    </div>
    <div class="">
      <%= l @complaint.violation_time, :format => :long if @complaint.violation_time %>
    </div>
    <div class="">
      <%= @complaint.witness %>
    </div>
    <div class="">
      <%= @complaint.violator_info %>
    </div>
    <div class="">
      <%= @complaint.other_info %>
    </div>
    <div class="">
      <% files = @complaint.complaint_files.general %>
      <% files_exist = (!files.nil? && !files.empty?) %>
      <% if files_exist %>
        <% files.each do |file| %>
            <div class="">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
            </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>


<% @complaint.additional.each do |info| %>
  <% status = (info.status.nil?) ? '' : info.status.title %>
  <h3><%= info.level.upcase + ' ' + status %></h3>

  <div class="complaint clear">
    <div class="span5" style="text-align: right;">
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.status') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_author_name') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_author_phone') %>
      </div>
      <% attr = (!info.level.nil? && info.level == 'court') ? '' : 'style="display: none;"'.html_safe %>
      <div class="" <%= attr %>>
        <%= t('activerecord.attributes.complaint_additional_info.court_name') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_writing_time') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.request_in_complaint') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.response_date') %>
      </div>
      <div class="">
        საჩივრის შედეგი
        <%= t('activerecord.attributes.complaint_additional_info.complaint_result') %>
      </div>
      <div class="">
        <%= t('activerecord.attributes.complaint_additional_info.additional_comment') %>
      </div>
<!--################################################
  let's leave this for now
  until the nested stuff is done
      <div class="">
        მიმაგრებული ფაილები
      </div>
-->
    </div>
    <div class="span4">
      <div class="">
        <%= status %>
      </div>
      <div class="">
        <%= info.complaint_author_name %>
      </div>
      <div class="">
        <%= info.complaint_author_phone %>
      </div>
      <div class="" <%= attr %>>
        <%= info.court_name %>
      </div>
      <div class="">
        <%= l info.complaint_writing_time, :format => :long if info.complaint_writing_time %>
      </div>
      <div class="">
        <%= info.request_in_complaint %>
      </div>
      <div class="">
        <%= l info.response_date, :format => :long if info.response_date %>
      </div>
      <div class="">
        <%= info.complaint_result %>
      </div>
      <div class="">
        <%= info.additional_comment %>
      </div>
      <div class="">
        <% files = @complaint.complaint_files.additional.files_for(info.id) %>
        <% files_exist = (!files.nil? && !files.empty?) %>
        <% if files_exist %>
          <% files.each do |file| %>
              <div class="">
                <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
              </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>


<div class="form-actions">
  <%= link_to t('app.buttons.back', :default => t("helpers.links.back")),
              complaints_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit', :default => t("helpers.links.edit")),
              edit_complaint_path(@complaint), :class => 'btn' %>
  <%= link_to t('app.buttons.destroy', :default => t("helpers.links.destroy")),
              complaint_path(@complaint),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

    <% if @complaint.additional.latest.level && @complaint.additional.latest.level.downcase != 'court' %>
      <%= link_to t('form.headers.move_to_next_level'),
                  edit_complaint_path(@complaint, :next_level => true), :class => 'btn', :style => 'margin-left: 35px;' %>
    <% end %>

</div>
