<%- model_class = Complaint -%>
<div class="page-header">
  <% status = (@complaint.complaint_additional_infos.latest.nil? || @complaint.complaint_additional_infos.latest.status.nil?) ? '' : @complaint.complaint_additional_infos.latest.status.title %>
  <h1><%= @complaint.level.to_s.upcase + ' ' + status %></h1>
</div>

<h3>General Complaint Information</h3>

<div class="complaint clear">
  <div class="span5" style="text-align: right;">
    <div class="">
      დამკვირვებლის სახელი და გვარი
    </div>
    <div class="">
      დამკვირვებლის მისამართი რეგისტრაციის ადგილის მიხედვით
    </div>
    <div class="">
      დამკვირვებლის საკონტაქტო ტელეფონის ნომერი
    </div>
    <div class="">
      საარჩევნო ოლქის სახელი
    </div>
    <div class="">
      საარჩევნო უბნის ნომერი
    </div>
    <div class="">
      კატეგორია
    </div>
    <div class="">
      დარგვევის ტიპი
    </div>
    <div class="">
      დარღვევის ჩადენის დრო
    </div>
    <div class="">
      მოწმე
    </div>
    <div class="">
      დამრღვევის დადგენის შემთხვევაში და დამრღვევის ახსნა-განმარტება
    </div>
    <div class="">
      სხვა დამატებითი ინფორმაცია
    </div>
    <div class="">
      მიმაგრებული ფაილები
    </div>
  </div>
  <div class="span4">
    <div class="">
      <%= @complaint.complaint_general_info.observer_name %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.observer_address %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.observer_phone %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.election_district_name.nil? ? '' : @complaint.complaint_general_info.election_district_name.title %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.election_precinct_number.nil? ? '' : @complaint.complaint_general_info.election_precinct_number.title %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.category.nil? ? '' : @complaint.complaint_general_info.category.title %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.violation_type.nil? ? '' : @complaint.complaint_general_info.violation_type.title %>
    </div>
    <div class="">
      <%= l @complaint.complaint_general_info.violation_time, :format => :long if @complaint.complaint_general_info.violation_time %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.witness %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.violator_info %>
    </div>
    <div class="">
      <%= @complaint.complaint_general_info.other_info %>
    </div>
    <div class="">
      <% files = @complaint.complaint_files.observers %>
      <% files_exist = (!files.nil? && !files.empty?) %>
      <% if files_exist %>
        <% files.each do |file| %>
            <div class="">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
            </div>
        <% end %>
      <% end %>

    </div>
  </div>
</div>


<% @complaint.complaint_additional_infos.each do |info| %>
  <% status = (info.status.nil?) ? '' : info.status.title %>
  <h3>Complaint <%= status %> Information</h3>

  <div class="complaint clear">
    <div class="span5" style="text-align: right;">
      <div class="">
        საჩივრის მიმდინარეობა
      </div>
      <div class="">
        საჩივრის ავტორი
      </div>
      <div class="">
        საჩივრის ავტორის ტელეფონის ნომერი
      </div>
      <% attr = (!info.level.nil? && info.level == 'court') ? '' : 'style="display: none;"'.html_safe %>
      <div class="" <%= attr %>>
        საქალაქო/სააპელაციო სასამართლოს დასახელება:
      </div>
      <div class="">
        საჩივრის დაწერის დრო
      </div>
      <div class="">
        საჩივარში დაყენებული მოთხოვნა
      </div>
      <div class="">
        პასუხის მოსვლის დრო
      </div>
      <div class="">
        საჩივრის შედეგი
      </div>
      <div class="">
        დამატებითი კომენტარი
      </div>
      <div class="">
        მიმაგრებული ფაილები
      </div>
    </div>
    <div class="span4">
      <div class="">
        <%= status %>
      </div>
      <div class="">
        <%= info.complaint_author_name %>
      </div>
      <div class="">
        <%= info.complaint_author_phone %>
      </div>
      <div class="" <%= attr %>>
        <%= info.court_name %>
      </div>
      <div class="">
        <%= l info.complaint_writing_time, :format => :long if info.complaint_writing_time %>
      </div>
      <div class="">
        <%= info.request_in_complaint %>
      </div>
      <div class="">
        <%= l info.response_date, :format => :long if info.response_date %>
      </div>
      <div class="">
        <%= info.complaint_result %>
      </div>
      <div class="">
        <%= info.additional_comment %>
      </div>
      <div class="">
        <% files = @complaint.complaint_files.others %>
        <% files_exist = (!files.nil? && !files.empty?) %>
        <% if files_exist %>
          <% files.each do |file| %>
              <div class="">
                <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
              </div>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              complaints_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_complaint_path(@complaint), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              complaint_path(@complaint),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

    <% if @complaint.level.downcase != 'court' %>
      <%= link_to 'Move to higher level',
                  move_to_higher_level_path(@complaint), :class => 'btn', :style => 'margin-left: 35px;' %>
    <% end %>

</div>
