<%- model_class = Complaint -%>
<div class="page-header">
  <% status = (@complaint.additional.latest.nil? || @complaint.additional.latest.status.nil?) ? '' : @complaint.additional.latest.status.title %>
  <h1><%= @complaint.level_name + ' ' + status %></h1>
</div>


<div class="show_page clear">
	<h3>ძირითადი ინფორმაცია</h3>

	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.observer_name') %>
		</div>
	  <div class="content span6">
      <%= @complaint.observer_name %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.observer_address') %>
		</div>
	  <div class="content span6">
      <%= @complaint.observer_address %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.observer_phone') %>
		</div>
	  <div class="content span6">
      <%= @complaint.observer_phone %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.election_district_name') %>
		</div>
	  <div class="content span6">
      <%= @complaint.district_name %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.election_precinct_number') %>
		</div>
	  <div class="content span6">
      <%= @complaint.election_precinct_number %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.category') %>
		</div>
	  <div class="content span6">
      <%= @complaint.category.nil? ? '' : @complaint.category.title %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.violation_type') %>
		</div>
	  <div class="content span6">
      <%= @complaint.violation_type.nil? ? '' : @complaint.violation_type.title %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.violation_time') %>
		</div>
	  <div class="content span6">
      <%= l @complaint.violation_time, :format => :long if @complaint.violation_time %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.witness') %>
		</div>
	  <div class="content span6">
      <%= @complaint.witness %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.violator_info') %>
		</div>
	  <div class="content span6">
      <%= @complaint.violator_info %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
      <%= t('activerecord.attributes.complaint.other_info') %>
		</div>
	  <div class="content span6">
      <%= @complaint.other_info %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
	      მიმაგრებული ფაილები
		</div>
	  <div class="content span6">
      <% files = @complaint.complaint_files.general %>
      <% files_exist = (!files.nil? && !files.empty?) %>
      <% if files_exist %>
        <% files.each do |file| %>
            <div class="">
              <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
            </div>
        <% end %>
      <% end %>
		</div>
	</div>

<% @complaint.additional.each do |info| %>
  <% status = (info.status.nil?) ? '' : info.status.title %>
  <h3><%= info.level_name + ' ' + status %></h3>

	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.status') %>
		</div>
	  <div class="content span6">
        <%= status %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_author_name') %>
		</div>
	  <div class="content span6">
        <%= info.complaint_author_name %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_author_phone') %>
		</div>
	  <div class="content span6">
        <%= info.complaint_author_phone %>
		</div>
	</div>
  <% attr = (!info.level.nil? && info.is_court?) ? '' : 'style="display: none;"'.html_safe %>
	<div class="row" <%= attr %>>
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.court_name') %>
		</div>
	  <div class="content span6">
        <%= info.court_name %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.complaint_writing_time') %>
		</div>
	  <div class="content span6">
        <%= l info.complaint_writing_time, :format => :long if info.complaint_writing_time %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.request_in_complaint') %>
		</div>
	  <div class="content span6">
        <%= info.request_in_complaint %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.response_date') %>
		</div>
	  <div class="content span6">
        <%= l info.response_date, :format => :long if info.response_date %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        საჩივრის შედეგი
        <%= t('activerecord.attributes.complaint_additional_info.complaint_result') %>
		</div>
	  <div class="content span6">
        <%= info.complaint_result %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
        <%= t('activerecord.attributes.complaint_additional_info.additional_comment') %>
		</div>
	  <div class="content span6">
        <%= info.additional_comment %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
	      მიმაგრებული ფაილები
		</div>
	  <div class="content span6">
		  <% files = @complaint.complaint_files.additional.files_for(info.id) %>
		  <% files_exist = (!files.nil? && !files.empty?) %>
		  <% if files_exist %>
		    <% files.each do |file| %>
		        <div class="">
		          <%= link_to file.file_file_name, file.file.url, :target => '_blank' %>
		        </div>
		    <% end %>
		  <% end %>
		</div>
	</div>
<% end %>
</div>


<div class="form-actions">
  <%= link_to t('app.buttons.back', :default => t("helpers.links.back")),
              complaints_path, :class => 'btn'  %>
  <%= link_to t('app.buttons.edit', :default => t("helpers.links.edit")),
              edit_complaint_path(@complaint), :class => 'btn' %>
  <%= link_to t('app.buttons.destroy', :default => t("helpers.links.destroy")),
              complaint_path(@complaint),
              :method => 'delete',
              :data => { :confirm => t('app.buttons.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>

    <% if !@complaint.additional.empty? && @complaint.additional.latest.level && !@complaint.additional.latest.is_last_level? %>
      <%= link_to t('form.headers.move_to_next_level'),
                  edit_complaint_path(@complaint, :next_level => true), :class => 'btn', :style => 'margin-left: 35px;' %>
    <% end %>

</div>
