<%- model_class = Complaint -%>
<div class="page-header">
  <% status = @complaint.status.nil? ? '' : @complaint.status.title %>
  <h1><%= @complaint.level.to_s.upcase + ' ' + status %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:observer_name) %>:</strong></dt>
  <dd><%= @complaint.observer_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observer_address) %>:</strong></dt>
  <dd><%= @complaint.observer_address %></dd>
  <dt><strong><%= model_class.human_attribute_name(:observer_phone) %>:</strong></dt>
  <dd><%= @complaint.observer_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:election_district_name) %>:</strong></dt>
  <dd><%= @complaint.election_district_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:election_precinct_number) %>:</strong></dt>
  <dd><%= @complaint.election_precinct_number %></dd>
  <dt><strong><%= model_class.human_attribute_name(:category) %>:</strong></dt>
  <dd><%= @complaint.category %></dd>
  <dt><strong><%= model_class.human_attribute_name(:violation_type) %>:</strong></dt>
  <dd><%= @complaint.violation_type %></dd>
  <dt><strong><%= model_class.human_attribute_name(:violation_time) %>:</strong></dt>
  <dd><%= @complaint.violation_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:witness) %>:</strong></dt>
  <dd><%= @complaint.witness %></dd>
  <dt><strong><%= model_class.human_attribute_name(:violator_info) %>:</strong></dt>
  <dd><%= @complaint.violator_info %></dd>
  <dt><strong><%= model_class.human_attribute_name(:other_info) %>:</strong></dt>
  <dd><%= @complaint.other_info %></dd>
  <dt><strong><%= model_class.human_attribute_name(:status) %>:</strong></dt>
  <dd><%= @complaint.status %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complaint_author_name) %>:</strong></dt>
  <dd><%= @complaint.complaint_author_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complaint_author_phone) %>:</strong></dt>
  <dd><%= @complaint.complaint_author_phone %></dd>
  <dt><strong><%= model_class.human_attribute_name(:court_name) %>:</strong></dt>
  <dd><%= @complaint.court_name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complaint_writing_time) %>:</strong></dt>
  <dd><%= @complaint.complaint_writing_time %></dd>
  <dt><strong><%= model_class.human_attribute_name(:request_in_complaint) %>:</strong></dt>
  <dd><%= @complaint.request_in_complaint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:response_date) %>:</strong></dt>
  <dd><%= @complaint.response_date %></dd>
  <dt><strong><%= model_class.human_attribute_name(:complaint_result) %>:</strong></dt>
  <dd><%= @complaint.complaint_result %></dd>
  <dt><strong><%= model_class.human_attribute_name(:additional_comment) %>:</strong></dt>
  <dd><%= @complaint.additional_comment %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              complaints_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_complaint_path(@complaint), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              complaint_path(@complaint),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
