<%- model_class = PecForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => t('pec_form.index.title') %></h1>
</div>
<script>
   var ids = new Array;
</script>
<div class="overf">

    <%= select_tag :district, options_for_select([nil] + DistrictIdName.with_pec_count.map { |d| ["#{d.district_id} - #{d.district_name} (#{d.record_count})", d.district_id] }) %>

<span class="total">
  <span>სულ: </span>
  <span id="total-records"><%= @pec_forms.length %></span>
  <span>ჩანაწერი</span>
</span>


<table class="table table-striped" id="index-table">
  <thead>
    <tr>
      <th></th>
      <th><%= model_class.human_attribute_name(:election_district_number)[0..model_class.human_attribute_name(:election_district_number).length-2] %></th>
      <th><%= model_class.human_attribute_name(:election_precinct_number)[0..model_class.human_attribute_name(:election_district_number).length-2] %></th>
      <th><%= model_class.human_attribute_name(:current_number_of_complaints) %></th>
      <th><%= model_class.human_attribute_name(:was_complaint_setisfied) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @pec_forms.each do |pec_form| %>
      <script>
         ids.push('<%= pec_form.id %>');
      </script>
      <tr id="<%= pec_form.election_district_number %>">
         <td><%=  link_to t('app.buttons.show'), pec_form_path(pec_form), :class => 'btn btn-mini btn-primary' %></td>
         <td><%=  pec_form.district_name %></td>
         <td><%= pec_form.election_precinct_number %></td>
        <td><%= pec_form.current_number_of_complaints %></td>
				<td>
		      <%if pec_form.was_complaint_setisfied %>
		         <%= t('form.radio_buttons.do_yes') %>
		      <% elsif !pec_form.was_complaint_setisfied.nil? %>
		          <%= t('form.radio_buttons.do_no') %>
		      <% end %>
				</td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_pec_form_path(pec_form), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      pec_form_path(pec_form),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<% if false %>
<%= link_to t('pec_form.buttons.new'),
            new_pec_form_path,
            :class => 'btn btn-primary' %>
<% end %>
