<%- model_class = DecForm -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<div class="show_page clear">
	<div class="row">
	  <div class="header span3">
			ოლქის დასახელება:
		</div>
	  <div class="content span6">
			<%= @dec_form.district_name %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:dec_total_complaints) %>
		</div>
	  <div class="content span6">
			<%= @dec_form.dec_total_complaints %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:dec_journal_registration_yes_no) %>
		</div>
	  <div class="content span6">
			<% if @dec_form.dec_journal_registration_yes_no %>
			  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.dec_journal_registration_yes_no.nil? %>
			  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:ped_entered_with_law) %>
		</div>
	  <div class="content span6">
			<% if @dec_form.ped_entered_with_law %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.ped_entered_with_law.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:lonked_election_lists) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.lonked_election_lists %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.lonked_election_lists.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:complaints) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.complaints %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.complaints.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:get_send_act) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.get_send_act %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.get_send_act.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:describe_extra_env) %>
			</div>
		</div>
	  <div class="content span6">
			<%= @dec_form.describe_extra_env %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:was_canonical_procedures_done) %>
		</div>
	  <div class="content span6">
			<% if @dec_form.was_canonical_procedures_done === 1 %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif @dec_form.was_canonical_procedures_done === 2 %>
				  ნაწილობრივ
			<% elsif !@dec_form.was_canonical_procedures_done.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:where_props_filled) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.where_props_filled %>
					<%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.where_props_filled.nil? %>
					<%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:precinct_results_canel_proc) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.precinct_results_canel_proc %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.precinct_results_canel_proc.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:commission_summary_report_publicity) %>
			</div>
		</div>
	  <div class="content span6">
			<% if @dec_form.commission_summary_report_publicity %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.commission_summary_report_publicity.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<div class="indent">
				<%= model_class.human_attribute_name(:extra_env_describe) %>
			</div>
		</div>
	  <div class="content span6">
			<%= @dec_form.extra_env_describe %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			<%= model_class.human_attribute_name(:summed_up_or_not_summary_reports) %>
		</div>
	  <div class="content span6">
			<% if @dec_form.summed_up_or_not_summary_reports %>
				  <%= t('form.radio_buttons.do_yes') %>
			<% elsif !@dec_form.summed_up_or_not_summary_reports.nil? %>
				  <%= t('form.radio_buttons.do_no') %>
			<% end %>
		</div>
	</div>

  <%
   i=0
   j=0
   @dec_form.dec_form_children.each do |dec_form_child|
      if dec_form_child.complaint_satisfied
         i=i+1
      end
      if dec_form_child.was_desision_grounded
         j=j+1
      end
   end
  %>

	<div class="row">
	  <div class="header span3">
			რამდენი საჩივარი დაკმაყოფილდა?
		</div>
	  <div class="content span6">
			<%= i.to_s+'/'+@dec_form.dec_form_children.length.to_s %>
		</div>
	</div>
	<div class="row">
	  <div class="header span3">
			იყო თუ არა გადაწყვეტილება დასაბუთებული?
		</div>
	  <div class="content span6">
			<%= j.to_s+'/'+@dec_form.dec_form_children.length.to_s %>
		</div>
	</div>
</div>


<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              dec_forms_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_dec_form_path(@dec_form), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              dec_form_path(@dec_form),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
